DATABASE_URL="postgresql://postgres.jbnyswztbcvrgiadxtvn:[YOUR-PASSWORD]@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.jbnyswztbcvrgiadxtvn:[YOUR-PASSWORD]@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
NEXTAUTH_SECRET="replace-with-output-from-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
